[Unit]
Description=ChirpStack Gateway Bridge for cn470-0-0 (e.g. 470.3)
Documentation=https://www.chirpstack.io/
Wants=network-online.target
After=network-online.target

[Service]
User=gatewaybridge
Group=gatewaybridge
ExecStart=/usr/bin/chirpstack-gateway-bridge -c /etc/chirpstack-gateway-bridge/chirpstack-gateway-bridge-cn470-0-0.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=lora-gateway-bridge-cn470-0-0.service
